<section class="">
  <div class="">
    <h2>Title</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ab non, optio
      reiciendis eos itaque voluptas quas provident aspernatur veritatis?
    </p>
    <a href="">link</a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt perferendis
      vitae similique inventore eaque suscipit, voluptates ratione sequi iste
      nulla?
    </p>
    <img src="../img/logo.svg" alt="" />
  </div>
</section>
